.page-main {

  ion-col {
    //background-color: #f0f5ff;
    border: 1px solid #e6e9ee;
    text-align: center;
  }

  ion-col:active {
    background-color: #e6e9ee;
  }

  ion-img {
    background-color: transparent;
    margin-top: 5px;
  }

  ion-label {
    margin-top: 5px;
    color: black;
    font-family: "Microsoft YaHei", "微软雅黑";
  }

  //.btn-item {
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  color:red;
  //
  //}

}




