<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{title}}
    </ion-title>

    <ion-buttons end *ngIf="!isPreview">
      <button ion-button icon-only color="white" *ngIf="isLocationValid" (click)="onLocate($event)">
        <ion-icon name="map"></ion-icon>
      </button>

      <button ion-button icon-only color="white" (click)="onReply($event)">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segmentName" (ionChange)="segmentChanged($event)" color="{{segmentColor}}">
      <ion-segment-button value="detailInfo">
        基本信息
      </ion-segment-button>
      <ion-segment-button value="replyInfo" *ngIf="!isPreview">
        回填信息
      </ion-segment-button>
      <ion-segment-button value="mediaInfo" *ngIf="!isPreview">
        多媒体
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="page-workdetail">

  <div [ngSwitch]="segmentName">
    <!--基本信息-->
    <ion-list *ngSwitchCase="'detailInfo'">
      <ion-item *ngFor="let item of detail" (click)="detailItemSelected(item)">
        <ion-label fixed class="label-name">
          {{item.name}}
        </ion-label>
        <div item-content *ngIf="item.isTime">
          {{item.value | date:'y-MM-dd HH:mm:ss'}}
        </div>
        <div item-content *ngIf="!item.isTime">
          {{item.value}}
        </div>
        <ion-icon name="ios-arrow-forward" item-end *ngIf="item.isActive"></ion-icon>
      </ion-item>
    </ion-list>

    <!--回填信息-->
    <ion-list *ngSwitchCase="'replyInfo'">
      <ion-item *ngFor="let item of reply" class="reply-item" (click)="itemSelected(item)">
        <ion-label fixed class="label-name">
          {{item.name}}
        </ion-label>
        <div item-content>
          {{item.value}}
        </div>
        <ion-icon name="ios-arrow-forward" item-end *ngIf="item.isActive"></ion-icon>
      </ion-item>

      <!--<ion-row>-->
      <!--<ion-col class="col-button">-->
      <!--<button ion-button icon-left>-->
      <!--<ion-icon name="camera"></ion-icon>-->
      <!--拍照-->
      <!--</button>-->
      <!--</ion-col>-->
      <!--<ion-col class="col-button">-->
      <!--<button ion-button icon-left>-->
      <!--<ion-icon name="microphone"></ion-icon>-->
      <!--录音-->
      <!--</button>-->
      <!--</ion-col>-->
      <!--<ion-col class="col-button">-->
      <!--<button ion-button icon-left>-->
      <!--<ion-icon name="videocam"></ion-icon>-->
      <!--视频-->
      <!--</button>-->
      <!--</ion-col>-->
      <!--</ion-row>-->
    </ion-list>

    <!--多媒体-->
    <div *ngSwitchCase="'mediaInfo'">
      <button ion-item icon-left (click)="onTakePicture($event)">
        <ion-icon name="camera"></ion-icon>
        拍照
      </button>

      <ion-grid style="width: 100%; height: 100px;">
        <ion-row>
          <ion-col col-4 class="col-img" *ngIf="pictures[0]">
            <img class="picture" src="{{pictures[0]}}"/>
            <ion-icon name="close" (click)="onDeletePicture(pictures[0])"></ion-icon>
          </ion-col>

          <ion-col col-4 class="col-img" *ngIf="pictures[1]">
            <img class="picture" src="{{pictures[1]}}"/>
            <ion-icon name="close" (click)="onDeletePicture(pictures[1])"></ion-icon>
          </ion-col>

          <ion-col col-4 class="col-img" *ngIf="pictures[2]">
            <img class="picture" src="{{pictures[2]}}"/>
            <ion-icon name="close" (click)="onDeletePicture(pictures[2])"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

      <br>
      <br>

      <button ion-item icon-left (click)="onRecordAudio($event)">
        <ion-icon name="microphone"></ion-icon>
        录音
      </button>

      <ion-grid style="width: 100%; height: 100px;">
        <ion-row *ngIf="audios[0].time > 0" class="audio">
          <ion-col col-6 class="audio-info">{{audios[0].time}}s</ion-col>
          <ion-col col-2><ion-icon name="play" class="audio-btn" (click)="onPlay(audios[0])"></ion-icon></ion-col>
          <ion-col col-1><ion-icon name="close" class="audio-btn" (click)="onDeleteAudio(audios[0])"></ion-icon></ion-col>
          <ion-col></ion-col>
        </ion-row>

        <ion-row *ngIf="audios[1].time > 0" class="audio">
          <ion-col col-6 class="audio-info">{{audios[1].time}}s</ion-col>
          <ion-col col-2><ion-icon name="play" class="audio-btn" (click)="onPlay(audios[1])"></ion-icon></ion-col>
          <ion-col col-1><ion-icon name="close" class="audio-btn" (click)="onDeleteAudio(audios[1])"></ion-icon></ion-col>
          <ion-col></ion-col>
        </ion-row>

        <ion-row *ngIf="audios[2].time > 0" class="audio">
          <ion-col col-6 class="audio-info">{{audios[2].time}}s</ion-col>
          <ion-col col-2><ion-icon name="play" class="audio-btn" (click)="onPlay(audios[2])"></ion-icon></ion-col>
          <ion-col col-1><ion-icon name="close" class="audio-btn" (click)="onDeleteAudio(audios[2])"></ion-icon></ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>

      <br>
      <br>
      <button ion-item icon-left (click)="onTakeVideo($event)">
      <ion-icon name="videocam"></ion-icon>
      视频
      </button>

      <ion-grid style="width: 100%; height: 100px;">
        <ion-row>
          <ion-col col-4 class="col-video" *ngIf="videos[0]">
            <video class="video" (click)="onPlayVideo(videos[0])"></video>
            <ion-icon name="close" (click)="onDeleteVideo(videos[0])"></ion-icon>
          </ion-col>

          <ion-col col-4 class="col-video" *ngIf="videos[1]">
            <video class="video" (click)="onPlayVideo(videos[1])"></video>
            <ion-icon name="close" (click)="onDeleteVideo(videos[1])"></ion-icon>
          </ion-col>

          <ion-col col-4 class="col-video" *ngIf="pictures[2]">
            <video class="video" (click)="onPlayVideo(videos[2])"></video>
            <ion-icon name="close" (click)="onDeleteVideo(videos[2])"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
      <br>
      <!--<ion-row>-->
      <!--<ion-col class="col-img">-->
      <!--<img width="80" height="80" src="assets/img/ic_video_default.png"/>-->
      <!--</ion-col>-->

      <!--<ion-col class="col-img">-->
      <!--<img width="80" height="80" src="assets/img/ic_video_default.png"/>-->
      <!--</ion-col>-->

      <!--<ion-col class="col-img">-->
      <!--<img width="80" height="80" src="assets/img/ic_video_default.png"/>-->
      <!--</ion-col>-->
      <!--</ion-row>-->
    </div>
  </div>

</ion-content>
