<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{title}}
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="white" (click)="onLocate($event)">
        <ion-icon name="locate"></ion-icon>
      </button>

      <button ion-button icon-only color="white" (click)="onReply($event)">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segmentName" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="detailInfo">
        基本信息
      </ion-segment-button>
      <ion-segment-button value="replyInfo">
        回填信息
      </ion-segment-button>
      <ion-segment-button value="mediaInfo">
        多媒体
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="page-workdetail">

  <div [ngSwitch]="segmentName">
    <!--基本信息-->
    <ion-list *ngSwitchCase="'detailInfo'">
      <ion-item *ngFor="let item of detail">
        <ion-label fixed class="label-name">
          {{item.name}}
        </ion-label>
        <div item-content *ngIf="item.isTime">
          {{item.value | date:'y-MM-dd HH:mm:ss'}}
        </div>
        <div item-content *ngIf="!item.isTime">
          {{item.value}}
        </div>
      </ion-item>
    </ion-list>

    <!--回填信息-->
    <ion-list *ngSwitchCase="'replyInfo'">
      <ion-item *ngFor="let item of reply" class="reply-item">
        <ion-label fixed class="label-name">
          {{item.name}}
        </ion-label>
        <div item-content>
          {{item.value}}
        </div>
        <ion-icon name="ios-arrow-forward" item-end *ngIf="reply.isActive"></ion-icon>
      </ion-item>

      <!--<ion-row>-->
        <!--<ion-col class="col-button">-->
          <!--<button ion-button icon-left>-->
            <!--<ion-icon name="camera"></ion-icon>-->
            <!--拍照-->
          <!--</button>-->
        <!--</ion-col>-->
        <!--<ion-col class="col-button">-->
          <!--<button ion-button icon-left>-->
            <!--<ion-icon name="microphone"></ion-icon>-->
            <!--录音-->
          <!--</button>-->
        <!--</ion-col>-->
        <!--<ion-col class="col-button">-->
          <!--<button ion-button icon-left>-->
            <!--<ion-icon name="videocam"></ion-icon>-->
            <!--视频-->
          <!--</button>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    </ion-list>

    <!--多媒体-->
    <div *ngSwitchCase="'mediaInfo'">
      <button ion-item icon-left>
        <ion-icon name="camera"></ion-icon>
        拍照
      </button>

      <ion-grid>
        <ion-row>
          <ion-col class="col-img">
            <img width="80" height="80" src="assets/img/ic_photo_default.png"/>
          </ion-col>

          <ion-col class="col-img">
            <img width="80" height="80" src="assets/img/ic_photo_default.png"/>
          </ion-col>

          <ion-col class="col-img">
            <img width="80" height="80" src="assets/img/ic_photo_default.png"/>
          </ion-col>
        </ion-row>
      </ion-grid>

      <button ion-item icon-left>
        <ion-icon name="microphone"></ion-icon>
        录音
      </button>

      <ion-list no-lines>
        <ion-item>
          <img width="10" height="20" src="assets/img/ic_audio_default.png"/>
          <ion-note>10s</ion-note>
        </ion-item>

        <ion-item>
          <img width="10" height="20" src="assets/img/ic_audio_default.png"/>
          <ion-note>15s</ion-note>
        </ion-item>

        <ion-item>
          <img width="10" height="20" src="assets/img/ic_audio_default.png"/>
          <ion-note>20s</ion-note>
        </ion-item>
      </ion-list>

      <button ion-item icon-left>
        <ion-icon name="videocam"></ion-icon>
        视频
      </button>

      <ion-row>
        <ion-col class="col-img">
          <img width="80" height="80" src="assets/img/ic_video_default.png"/>
        </ion-col>

        <ion-col class="col-img">
          <img width="80" height="80" src="assets/img/ic_video_default.png"/>
        </ion-col>

        <ion-col class="col-img">
          <img width="80" height="80" src="assets/img/ic_video_default.png"/>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>
