<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>材料类别：</ion-label>
      <ion-select okText="确定" cancelText="取消" [(ngModel)]="materialLBID" (ionChange)="selectMaterialLB()">
        <ion-option *ngFor="let type of optMaterialsLB" value={{type.id}}>{{type.name}}</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>材料型号：</ion-label>
      <ion-select okText="确定" cancelText="取消" [(ngModel)]="materialXHID" (ionChange)="selectMaterialXH()">
        <ion-option *ngFor="let type of optMaterialsXH" value={{type.id}}>{{type.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>材料规格：</ion-label>
      <ion-select okText="确定" cancelText="取消" [(ngModel)]="materialGGID" (ionChange)="selectMaterialGG()">
        <ion-option *ngFor="let type of optMaterialsGG" value={{type.id}}>{{type.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>生产厂家：</ion-label>
      <ion-select okText="确定" cancelText="取消" [(ngModel)]="materialCJID">
        <ion-option *ngFor="let type of optMaterialsCJ" value={{type.id}}>{{type.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>单位：</ion-label>
      <ion-select okText="确定" cancelText="取消" [(ngModel)]="unitID" (ionChange)="selectMaterialUnit()">
        <ion-option *ngFor="let type of materialsUnits" value={{type.id}}>{{type.text}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <button item-left ion-button color="primary" clear icon-only (click)="reduceAccount()">
        <ion-icon name='remove-circle' is-active="false"></ion-icon>
      </button>
      <ion-label class="account">{{count}}</ion-label>
      <button item-right ion-button color="primary" clear icon-only (click)="addAccount()">
        <ion-icon name='add-circle' is-active="false"></ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-label>备注：</ion-label>
      <ion-input type="text" [(ngModel)]="remark"></ion-input>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col>
      <div class="add-button">
        <button ion-button [disabled]="!materialLBID||!materialXHID||!materialGGID||!materialCJID||!unitID||count==0"
                type="submit" block (click)="addClick()">{{buttonStr}}
        </button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
