page-materialsadd {
  .label-name {
    color: #5d81c1;
    font-size: 1.0em;
  }

  .account {
    text-align: center;
  }

  .add-button {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #fff;
  }
}
