.page-news {

  .card-header-label-hint {
    display: inline;
    color: #5d81c1;
    font-size: 1.3em;
  }

  .card-header-label-content {
    padding-left: 10px;
    display: inline;
    color: cornflowerblue;
    font-size: 1.0em;
  }

  .card-news-content{
    display: inline;
    font-size: 1.0em;
    margin-top: 10px;
  }
}
