.page-searchdetails {

  .label-name {
    color: #5d81c1;
    font-size: 1.0em;
  }

  .item-content {
    color: #5d81c1;
    font-size: 1.0em;
  }

  .taskState {
    margin-left: 30px;
    width: 55px;
    height: 60px;
    background-image: url("../assets/img/ic_state_btn_p.png");
    background-repeat: no-repeat;
    background-size: 53px;
    background-position: center;
    padding-top: 15px;
    text-align: center;
  }

  ul.list {
    border-left: solid 2px #999;
    padding-left: 20px;
    margin-left: 50px;
    font-size: 1.2em;
    font-family: "Microsoft YaHei", "微软雅黑";
  }

  ul.list li {
    position: relative;
    border-bottom: solid 1px #999;
    list-style: none;
    padding: 10px
  }

  .circle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webikit-border-radius: 50%;
    -o-border-radius: 50%;
  }

  /*注意调整left值，为-(ul的padding-left+ul的border-left/2+原点宽度/2)px*/
  ul.list li div.circle {
    top: 10px;
    left: -31px;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #999;
  }


  ul.list li.current {
    color: #427feb;
    padding-top: 0;

  }

  ul.list li.current div.circle {
    top: -5px;
    background-color: rgba(0, 128, 0, 0.25);
    width: 30px;
    height: 30px;
    left: -36px;
  }

  ul.list li.current div.circle b {
    display: block;
    width: 80%;
    height: 80%;
    background: #427feb;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40%;
    margin-top: -40%;
  }

  ul.list li.list div.circle b {
    display: block;
  }
}




