.page-searchresult{

  .card-header-label-hint {
    display:inline;
    color:#5d81c1;
    font-size: 1.1em;
    padding-top: 3px;
  }

  .card-header-label-content {
    padding-left: 20px;
    display:inline;
    color: black;
    font-size: 1.1em;
  }

  .card-header-label {
    color: #5d81c1;
  }

  ion-segment-button{
    color:#5d81c1;
  }

  .label-name {
    color:#5d81c1;
    font-size: 1.0em;
  }

  .allTasks{
    padding: 5px;
    margin-left: 10px;
    background-color: #427feb;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    font-size: 1.1em;
    color: white;
  }

  .finishedTasks{
    padding: 5px;
    background-color: #00caf2;
    text-align: center;
    font-size: 1.1em;
    color: white;
  }

  .unFinishedTasks{
    padding: 5px;
    background-color: #2ec95c;
    text-align: center;
    font-size: 1.1em;
    color: white;
    margin-right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  ion-grid{
    margin-top: 5px;
  }
}




