.page-search-result {
  .card-header-label {
    display: inline;
    color: #5d81c1;
  }

  ion-segment-button{
    color:#00caf2;
    background-color: #00caf2;
  }

  .label-name {
    color: #5d81c1;
  }

  .card-header-label-content {
    display: inline;
    color: black;
  }
}




